<div class="row">
  <div class="heading-wrapper">
    <h1>О создателях</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-8 about">
    <%= image_tag( "vadim.jpg" , { width: '160px' }) %>

    <p>Меня зовут Вадим, в основном я занимался версткой веб-сайтов и их размещением в CMS Wordpress. Мне нравится работать в интернете, стремиться к тому, чтобы на просторах всемирной сети появился ещё один удобный и полезный сайт.
    Но однажды, жена моего друга, далёкая от области программирования, сказала, что уже некоторое время изучает язык Ruby на специальном онлайн курсе и даже собирается в короткие сроки создать сайт на этом языке. </p>
    <p>Это меня заинтриговало. Побльше узнав у Googla об этой теме, я сразу отметил в своём блокноте, что хотел бы освоить Ruby on Rails в ближайшее время. И о чудо. Случилось так, что я присоединился к тому же онлайн курсу о котором мне поведала жена моего друга.</p>
    <p>И тут началось волшебство (в добром смысле этого слова). Сравнительно в короткие сроки, с помощью RoR, мне и вправду удалось понять и научиться делать то, что, как я думал раньше, под силу только матёрым бородатым программистам.
    <p>Я очень признатен преподавателю онлайн курса, за то что он грамотно провёл по пути от азов к вершинам, часто показывая, что в этом пути нет ничего сверхчеловеческого. Что, вселял увереннось, что все преграды преодолимы.</p>
    <p>Освоить язык мне также помогал неугасимый энтузиазм, тех кто, можно сказать, с нулевой базы изучал язык Ruby бок о бок вместе со мной.</p>
    <p>Так воодушевляли прилежность и любознательность семьи Лим.</p>
    <p>Внимательность и точные замечания Алексеев. Степенный и взвешенный подход Олега.</p>
    <p>И я очень благодарен своей жене Надежде, которая не ревновала меня к корейскому монитору, которому я уделял, кажется, немного больше внимания, чем ей.</p>

  </col>
</div>