/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  background: #cccccc;
}
li {
  list-style: none;
}
.height-vh {
  min-height: 58vh;
}
.main-bg {
  background-color: #DBDBDB;
}
.align-center {
  text-align: center;
}

/* = Colors = */

.text-white {
  color: white;
}
.color-bg-black {
  background-color: black;
}
.color-bg-white {
  background-color: white;
}
.color-bg-springgreen {
  background-color: SpringGreen;
}
.color-bg-navy	 {
  background-color: Navy	;
}

/* = Bootstrap Btns Restyling = */

.btn {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.btn-main {
  margin: 20px;
  color: #fff;
  border-radius: 14px;
  box-shadow: 2px 2px 4px #222;
}
.btn-reset {
  background-color: coral;
  border-color: chocolate;
}
.btn-reset:hover {
  text-shadow: 0 0 1px black;
  background-color: coral;
  border-color: darkorange;
  box-shadow: 2px 2px 2px #d2691e;
}
.btn-primary {
  background-color: #2AA9AD;
  border-color: #2DB8BD;
  border-radius: 14px;
  box-shadow: 2px 2px 4px #222;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.btn-primary:hover {
  background-color: #239094;
  border-color: #0E5E61;
  border-radius: 14px;
  box-shadow: 2px 2px 4px #222;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.btn-accept, .table .btn-primary  {
  color: #fff;
  background-color: #2AA9AD;
  border-color: #2DB8BD;
}
.btn-accept:hover, .table .btn-primary:hover  {
  color: #fff;
  background-color: #239094;
  border-color: #0E5E61;
}
.btn-close-position {
  position: absolute;
  top: 5px;
  right: 5px;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  color: #fff;
  background-color: #2AA9AD;
  border-color: #2DB8BD;
}

.form-switch .form-check-input {
    width: 4em;
}
.form-check-input {
    width: 1em;
    height: 2em;
}

/* = Messages Styles = */

.alert {
  margin-top: 1rem;
  box-shadow: 1px 1px 2px #222;
  padding: 1.2rem 1.2rem;
}
.error-box {
  background-color: #F8D7DA;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 2px #222;
  padding: 1.2rem 1.2rem;
}

/* = Tables Styles = */

tr {
  vertical-align: middle;
}
.padding-top {
  padding-top: 20px;
}

/* == Forms == */

.field_with_errors input {
  border: 1px solid red;
}
.form-group {
  margin-bottom: 19px;
  display: flex;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.form-control {
  border-radius: 14px;
}
.form-check-label {
  margin-left: 10px;
}

.title-small {
  margin-bottom: 10px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.btn-small {
  margin-bottom: 10px;
}
.switch-wrapper {
  display: inline-block;
  margin-bottom: 27px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.switch-wrapper .form-check-input {
  margin-right: 14px;
}
.switch-wrapper .form-check-input:checked {
  background-color: #239094;
  border-color: #0E5E61;
}

/* == Paginate == */

.pagination li.page-item {
  margin-right: 8px;
}


/* == Contacts Page == */

.contacts-list li {
  margin: 20px;
  font-size: 32px;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}
.contacts-list span {
  margin-right: 20px;
}
.contacts-list img {
  margin-right: 20px;
  margin-bottom: 20px;
}
.contacts-list a {
  color: #0E5E61;
  text-decoration: none;
}



