@media only screen and (max-width: 770px){
  //MOBILE ONLY STYLES
.contacts-list li a {
  margin: 20px;
  font-size: 28px;
}
.contacts-list span {
  margin-right: 20px;
}

.contacts-list img {
  width: 60px;
  margin-right: 20px;
  margin-bottom: 10px;
}
}
